Options -Indexes
Options +FollowSymLinks
Options -MultiViews
DirectoryIndex index.php
RewriteEngine on


RewriteRule ^we-welcome-you/?$ index.php [NC]
RewriteRule ^faq/?$ faq.php [NC]
RewriteRule ^markets/?$ markets.php [NC]
RewriteRule ^forex/?$ forex.php [NC]
RewriteRule ^indice/?$ indice.php [NC]
RewriteRule ^trading-analysis/?$ trading-analysis.php [NC]
RewriteRule ^stocks/?$ stocks.php [NC]
RewriteRule ^commodities/?$ commodities.php [NC]
RewriteRule ^clients/?$ clients.php [NC]
RewriteRule ^security/?$ security.php [NC]
RewriteRule ^terms/?$ terms.php [NC]
RewriteRule ^nfp/?$ nfp.php [NC]
RewriteRule ^authentication/?$ authentication.php [NC]
RewriteRule ^plan/?$ plan.php [NC]
RewriteRule ^about/?$ about.php [NC]
RewriteRule ^contact/?$ contact.php [NC]
RewriteRule ^bitcoin/?$ bitcoin.php [NC]
RewriteRule ^commodities/?$ commodities.php [NC]
RewriteRule ^services/?$ services.php [NC]
RewriteRule ^end-current-session/?$ logout.php [NC]
RewriteRule ^forget-password/?$ forgetpassword.php [NC]
RewriteRule ^investment/?$ investment.php [NC]
RewriteRule ^crypto-plan/?$ crypto-plan.php [NC]
RewriteRule ^real-estate-plan/?$ real-estate-plan.php [NC]
RewriteRule ^car-plan/?$ car-plan.php [NC]
RewriteRule ^affiliate/?$ affiliate.php [NC]
RewriteRule ^faqs/?$ faqs.php [NC]
RewriteRule ^support/?$ support.php [NC]
RewriteRule ^login/?$ login.php [NC]
RewriteRule ^signup/?$ register.php [NC]
RewriteRule ^register/?$ register.php [NC]
RewriteRule ^registration/?$ registration.php [NC]
RewriteRule ^policy/?$ policy.php [NC]
RewriteRule ^rules/?$ rules.php [NC]
RewriteRule ^sales-rep/?$ sales-rep.php [NC]
RewriteRule ^forgot_password/?$ forgot_password.php [NC]
RewriteRule ^forgot-password/?$ forgot-password.php [NC]
RewriteRule ^financial-planning/?$ financial-planning.php [NC]
RewriteRule ^retirement-planning/?$ retirement-planning.php [NC]
RewriteRule ^investment-management/?$ investment-management.php [NC]
RewriteRule ^investment-plan/?$ investment-plan.php [NC]
RewriteRule ^forex-trading/?$ forex-trading.php [NC]
RewriteRule ^team/?$ team.php [NC]
RewriteRule ^terms/?$ terms.php [NC]
RewriteRule ^privacy-policy/?$ policy.php [NC]
RewriteRule ^anti-money-laundering-policy/?$ anti-money-laundering-policy.php [NC]
RewriteRule ^refund-policy/?$ refund-policy.php [NC]
RewriteRule ^book/?$ book.php [NC]
RewriteRule ^continue-to-payment/?$ continue-to-payment.php [NC]



#RewriteEngine On
#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://omegagoldelon.com/$1  [R,L]

